Cython==3.0.2
flask-babel==3.1.0
huggingface-hub==0.24.5
keras==2.13.1
lap==0.5.dev0
libclang==16.0.6
loguru==0.7.2
lpips==0.1.4
matplotlib==3.10.0
mmcls==0.25.0
mmcv==2.0.1
mmengine==0.8.4
mmh3==4.1.0
mmsegmentation==1.1.2
ninja==1.11.1.1
numpy==1.24.3
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.14.0
onnxruntime==1.15.1
openai==1.38.0
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
opencv-python-headless==4.8.1.78
pillow==10.2.0
pycocotools==2.0.7
pycuda==2022.2.2
pyk4a==1.5.0
pytools==2023.1.1
qudida==0.0.4
queuelib==1.5.0
rapidfuzz==3.3.1
rarfile==4.1
tenacity==9.0.0
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
termcolor==2.3.0
texttable==1.6.7
tiktoken==0.7.0
timm==0.5.4
tokenizers==0.14.1
torch==2.0.1+cu118
torch2trt==0.4.0
torchaudio==2.0.2+cu118
torchdata==0.6.1
torchmetrics==1.2.1
torchtext==0.15.2
torchvision==0.15.2+cu118
tqdm==4.66.5
ultralytics==8.3.49
ultralytics-thop==2.0.13
